<template>
  <h1 class="title">
    Page is not found, you can return on
    <router-link to="/">main</router-link> page.
  </h1>
  {{ this.$router }}
</template>
<script>
export default {};
</script>
